<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css" />
<div class="row mb-3">
  <div class="col-6">
    <div class="card">
      <img
        class="card-img-top"
        src="<%= campground.image %> "
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title%></h5>
        <p class="card-text"><%= campground.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=campground.location%></li>
        <li class="list-group-item">&#36;<%=campground.price%></li>
      </ul>
      <% if(currentUser != undefined && campground.user != undefined &&
      campground.user.equals( currentUser._id)){ %>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/campgrounds/<%=campground._id%>/edit"
          >Edit
        </a>

        <form
          class="d-inline"
          action="/campgrounds/<%=campground._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <%}else{%> <%if(campground.user != undefined){%>
      <li class="list-group-item text-muted">
        By <%= campground.user.username%>
      </li>
      <%}%> <%}%>
    </div>
  </div>

  <div class="col-6">
    <%if(currentUser != undefined){%>
    <h3>Leave a review</h3>
    <form
      action="/campgrounds/<%= campground._id %>/review "
      method="POST"
      novalidate
      class="validated-form"
    >
      <fieldset class="starability-basic">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="rev[rating]"
          value="0"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="rev[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rev[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rev[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rev[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rev[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <div>
        <textarea
          class="form-control"
          type="text"
          id="review"
          name="rev[review]"
          required
        ></textarea>
      </div>

      <button class="btn btn-success mt-3">Add review</button>
    </form>
    <hr />
    <%}%> <% for(const rev of campground.reviews) {%>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text text-muted"><%=rev.user.username%></p>
        <p class="starability-result" data-rating="<%= rev.rating %>"></p>
        <p class="card-text"><%= rev.review %></p>
        <% if(currentUser != undefined && rev.user.equals(currentUser._id)){ %>
        <form
          action="/campgrounds/<%= campground._id %>/review/<%= rev._id %>?_method=DELETE"
          method="POST"
        >
          <button class="submit btn btn-danger">Delete</button>
        </form>
        <%}%>
      </div>
    </div>
    <% } %>
  </div>
</div>
